<%= live_component @socket, NflRushingWeb.Components.PlayerStatsFormLive, name: @name, order_by_0: @order_by_0, order_by_0_flow: @order_by_0_flow,
  order_by_1: @order_by_1, order_by_1_flow: @order_by_1_flow, order_by_2: @order_by_2, order_by_2_flow: @order_by_2_flow %>

<%= live_component @socket, NflRushingWeb.Components.PlayerStatsTableLive, results: @results %>
